.blog-tags a {
  @apply font-bold underline text-hot-pink;

  &:hover {
    @apply text-black;
  }
}

#searchBox {
  border: 2px solid black;
  border-radius: 5px;
}

.searchResultPage {
  padding: 15px 0;
}

.searchResultTitle {
  color: #fd2d78 !important;
}