---
export interface Props {
title: string;
description: string;
}
const { title, description } = Astro.props;
---

<header class="mx-auto max-w-xl text-center content">
  <h1 class="mb-4" data-test="header-title">{title}</h1>
  <p data-test="header-description">{description}</p>
</header>