---

---

<nav>
  <div class="max-w-5xl mx-auto px-3 py-3 flex items-center justify-between h-16">
    <a href="/" class="font-bold text-xl hover:text-hot-pink">InterviewGuide.dev</a>
    <a href="/" class="hidden sm:block rounded p-2 border-2 border-dashed hover:text-hot-pink hover:border-hot-pink transition-all duration-300">
      Read the free Interview Guide &raquo;
    </a>
  </div>
  <div class="w-full border-b-2 border-black squiggle"></div>
</nav>